
<html>
<div class="row" >
  <div class="leftcolumn">
    <div class="card">
      <div id="Maintabbar" class="maintabbar" align="center">
        <h2>ยินดีต้อนรับพนักงาน</h2>
      </div>
      <nav>
      <a routerLink="/RegCategoryUi" routerLinkActive="active">เพิ่มประเภทประกันชีวิต</a>
      <a routerLink="/Lumpsum" routerLinkActive="active">เหมาจ่ายประกัน</a>

      <a routerLink="/DiseaseAccidentDataUI" routerLinkActive="active">โรคและอุบัติเหตุที่ได้รับสิทธิ์คุ้มครอง</a>&nbsp;
      <a routerLink="/Hospital" routerLinkActive="active">โรงพยาบาลคู่สัญญา</a>&nbsp;
      <a routerLink="/ClaimDataUI" routerLinkActive="active">ข้อมูลการใช้สิทธิ์คุ้มครอง</a>&nbsp;
      <!-- <a routerLink="/RegCancelInsurance" routerLinkActive="active">ยกเลิกสมาชิกประกันชีวิตออนไลน์</a>&nbsp;-->

      </nav>
    </div>
  </div>

  <div class="rightcolumn">
    <div class="card1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
</html>
