<html>
<div class="row" >
  <div class="leftcolumn">
    <div class="card">
      <nav>
        <a routerLink="/MemLogin" routerLinkActive="active">Login</a><br>
        <a routerLink="/MemberRegistionComponent" routerLinkActive="active">สมัครประกันชีวิต</a><br>
        <a routerLink="/AgentReg" routerLinkActive="active">สมัครตัวแทน</a><br>
        <a routerLink="/agentAppointment" routerLinkActive="active">นัดพบตัวแทน</a><br>
        <a routerLink="/cancelAppointment" routerLinkActive="active">ยกเลิกนัดพบตัวแทน</a><br><br>
        <a routerLink="/OfficerLogin" routerLinkActive="active">Officer Login</a><br>
      </nav>
    </div>
    </div>

  <div class="rightcolumn">
      <router-outlet></router-outlet>
  </div>
</div>
</html>
