<nav><a class="font-field">
  <mat-card class="example-form">
    <p class="font-field-head"> โชว์ข้อมูล </p>
    <p class="font-field"> ชื่อโรค/อุบัติเหตุ:&nbsp;&nbsp;&nbsp;{{DiseaseAccidentData.dataNameAdd}} </p>
    <p class="font-field"> ชนิดสิทธิคุ้มครอง:&nbsp;&nbsp;&nbsp;{{DiseaseAccidentData.id}}{{DiseaseAccidentData.typeIdSelect}} </p>
    <p class="font-field"> ระดับความรุนแรง:&nbsp;&nbsp;&nbsp;{{DiseaseAccidentData.levelIdSelect}} </p>
    <p class="font-field"> ค่ารักษารายวัน:&nbsp;&nbsp;&nbsp;{{DiseaseAccidentData.medicalFeeIdSelect}} </p>

    <button mat-raised-button color="primary" routerLink="/">ยืนยัน</button>
  </mat-card>
</a></nav>
