<nav><a class="font-field">
  <mat-list>
    <mat-list-item>
      <h2 class="font-field-head">ข้อมูลการใช้สิทธิ์คุ้มครอง</h2>
    </mat-list-item>
    <br>

    <mat-divider></mat-divider>

    <br>
    <mat-list-item>

      <mat-form-field class="example-full-width">
        <mat-select  class="font-field" placeholder="เลือก ผู้ใช้สิทธิ์ " [(ngModel)]="ClaimData.memberDataS" id = "MemberDataClaim" >
          <mat-option class="font-field" *ngFor="let MemberData of memberDataSS" [value]="MemberData.id">
            {{MemberData.id}}. {{MemberData.fname}} {{MemberData.lname}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-list-item>
    <br>
    <mat-list-item>
      <mat-form-field class="example-full-width">
        <mat-select class="font-field" placeholder="เลือก ชื่อโรค/อุบัติเหตุ" [(ngModel)]="ClaimData.diseaseAccidentDataS" id = "DiseaseAccidentDataClaim">
          <mat-option class="font-field" *ngFor="let DiseaseAccidentData of diseaseAccidentDataSS" [value]="DiseaseAccidentData.dataName">
            {{DiseaseAccidentData.id}}.{{DiseaseAccidentData.dataName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
    <br>
    <mat-list-item>
    <mat-form-field class="example-full-width">
      <mat-select class="font-field" placeholder="เลือก ประกันที่ใช้" [(ngModel)]="ClaimData.categoryS" id = "CategoryClaim">
        <mat-option class="font-field" *ngFor="let Category of categorySS" [value]="Category.typeName">
          {{Category.id}}.{{Category.typeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-list-item>
    <br>
    <mat-list-item>
      <mat-form-field class="example-full-width">
        <mat-select class="font-field" placeholder="เลือก โรงบาลที่รักษา" [(ngModel)]="ClaimData.hospitalS" id = "HospitalClaim">
          <mat-option class="font-field" *ngFor="let Hospital of hospitalSS" [value]="Hospital.hosName">
            {{Hospital.id}}. {{Hospital.hosName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
    <br>
    <mat-list-item>
      <mat-form-field class="example-full-width">
        <mat-select class="font-field" placeholder="เลือก รูปแบบการรักษา" [(ngModel)]="ClaimData.treatmentStyleS" id = "TreatmentStyleClaim">
          <mat-option class="font-field" *ngFor="let TreatmentStyle of treatmentStyleSS" [value]="TreatmentStyle.styleName">
            {{TreatmentStyle.id}}. {{TreatmentStyle.styleName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
    <br>
    <mat-list-item>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="กรอก ค่ารักษาพยาบาล" [(ngModel)]="ClaimData.costA" id = "costClaim">
        <mat-hint align="end">ใส่ตัวเลขเท่านั้น</mat-hint>
      </mat-form-field>
      </mat-list-item><br>
    <mat-list-item>
    <button mat-raised-button align = "left" class="font-field" color="warm" routerLink="/OfficerHome">ย้อนกลับ</button>&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;<button class="font-field" (click)="save()" cdkFocusInitial mat-raised-button color="primary">บันทึก</button>
    </mat-list-item>
  </mat-list>
</a></nav>

