@import "~@angular/material/prebuilt-themes/purple-green.css";

@font-face {
  font-family: kanitFont;
  src: url('https://fonts.googleapis.com/css?family=Kanit');
}
.font-field{font-size: 18px; font-family: 'Kanit', sans-serif; color: #082130; text-align: left;}
.font-field-head{font-family: 'Kanit', sans-serif; color: #082130; text-align: center;}

.example-form {
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  background-color: #CC000000;
  width: 400px;
}

nav a {
  padding: 40px 100px;
  text-decoration: none;
  display: inline-block;
  background-color: #CC000000; /**พื้นหลังสีใส**/
  border-radius: 2px;}
