<nav><a class="font-field">
  <mat-card class="example-form">
    <p class="font-field-head"> ผลการสมัคร </p>
    <p class="font-field"> ชื่อจริง:&nbsp;&nbsp;&nbsp;{{Agentregis.firstname}} </p>
    <p class="font-field"> นามสกุล:&nbsp;&nbsp;&nbsp;{{Agentregis.lastname}} </p>
    <p class="font-field"> ประเภท:&nbsp;&nbsp;&nbsp;{{Agentregis.cattype}} </p>
    <p class="font-field"> การศึกษา:&nbsp;&nbsp;&nbsp;{{Agentregis.educational}} </p>
    <p class="font-field"> จังหวัด:&nbsp;&nbsp;&nbsp;{{Agentregis.aprovince}} </p>

    <button mat-raised-button color="primary" routerLink="/">ยืนยัน</button>
  </mat-card>
</a></nav>
