<nav><a class="font-field" >
  <mat-list>
    <mat-list-item>
    <h2 class="font-field-head">ยินดีต้อนรับ</h2>
    </mat-list-item><br>
    <button mat-raised-button class="font-field" color="warn" routerLink="/RegCancelInsurance" routerLinkActive="active">ยกเลิกสมาชิกประกันชีวิตออนไลน์</button>
    <mat-divider></mat-divider>
    <br>
    <mat-list-item>
    <table matSort (matSortChange)="sortData($event)" class="show-member">
      <tr>
        <th mat-sort-header="name" >ชื่อ</th>&nbsp;&nbsp;
        <th mat-sort-header="name">นามสกุล</th>&nbsp;&nbsp;
        <th mat-sort-header="name">เลขบัตรประชาชน</th>&nbsp;&nbsp;
      </tr>
      <tr >
        <td >{{User.fname}}</td>&nbsp;&nbsp;
        <td>{{User.lname}}</td>&nbsp;&nbsp;
        <td>{{User.idCard}}</td>&nbsp;&nbsp;
      </tr>
    </table><br>
    </mat-list-item>
    <br>
    <div class = "code" >
      &nbsp; &nbsp;
      <mat-form-field >
        <input matInput id =  "home1" placeholder="CODE" [(ngModel)]="code.code">
      </mat-form-field>
      <mat-form-field >
        <input matInput id =  "home2" placeholder="CardNumber" [(ngModel)]="code.num">
      </mat-form-field>
      <mat-form-field >
        <input matInput id =  "home3" placeholder="EXP Year" [(ngModel)]="code.exp">
      </mat-form-field>

      <mat-list-item>
        <mat-form-field class="example-full-width">
          <mat-select class="font-field" placeholder="เลือกรูปการชำระ" [(ngModel)]="code.method"> <!-- แสดงค่าที่ได้หลังจากกดเลือก -->
            <mat-option class="font-field" *ngFor="let PaymentMethod of Method" [value]="PaymentMethod.id"> <!-- แสดงค่าที่มีจากฐานข้อมูล -->
              {{ PaymentMethod.id }} : {{ PaymentMethod.method }}   <!-- ค่าที่เราต้องการให้แสดงเพื่อกดเลือก -->
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>

      &nbsp;&nbsp;<button mat-raised-button class="font-field" color="primary" (click)="submit()" cdkFocusInitial>ยืนยัน</button>
    </div>
    <br>
    <div class = "table" ><h2 class="font-field-topic">ค้างชำระ</h2>
      <table mat-table [dataSource]="Cost" class="example-full-width1">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td  mat-cell *matCellDef="let Cost"> {{ Cost.id }} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> ยอดชำระ </th>
          <td  mat-cell *matCellDef="let Cost"> {{ Cost.amount }} </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> รหัสชำระ </th>
          <td  mat-cell *matCellDef="let Cost"> {{ Cost.code }} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> เวลาบิลเรียกชำระ </th>
          <td  mat-cell *matCellDef="let Cost"> {{ Cost.date }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div><br>

    <div class = "table2" ><h2 class="font-field-topic">ประวัติการชำระ</h2>
      <table mat-table [dataSource]="Paid" class="example-full-width1">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td  mat-cell *matCellDef="let Paid"> {{ Paid.id }} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> ยอดชำระ </th>
          <td  mat-cell *matCellDef="let Paid"> {{ Paid.amount }} </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> รหัสชำระ </th>
          <td  mat-cell *matCellDef="let Paid"> {{ Paid.code }} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> เวลาบิลชำระ </th>
          <td  mat-cell *matCellDef="let Paid"> {{ Paid.date }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
      </table>
    </div>
  </mat-list><br>
  <button mat-raised-button class="font-field" color="warm" routerLink="/">ออกจากระบบ</button>&nbsp;&nbsp;
</a></nav>
