<nav><a class="font-field">
  <mat-card class="example-form">

    <div align="center">
      <h2 class="font-field-head"> บันทึกสำเร็จ </h2>
    </div>
    <h2 class="font-field"> ผลการบันทึก </h2>
    <p class="font-field"> ID ผู้ใช้สิทธิ์ :&nbsp;&nbsp;&nbsp;{{ClaimData.memberDataS}} </p>
    <p class="font-field">  ชื่อโรค/อุบัติเหตุ :&nbsp;&nbsp;&nbsp;{{ClaimData.diseaseAccidentDataS}} </p>
    <p class="font-field"> ประกันที่ใช้ :&nbsp;&nbsp;&nbsp;{{ClaimData.categoryS}} </p>
    <p class="font-field"> โรงบาลที่รักษา :&nbsp;&nbsp;&nbsp;{{ClaimData.hospitalS}} </p>
    <p class="font-field"> รูปแบบการรักษา :&nbsp;&nbsp;&nbsp;{{ClaimData.treatmentStyleS}} </p>
    <p class="font-field"> ค่ารักษาพยาบาล :&nbsp;&nbsp;&nbsp;{{ClaimData.costA}} </p>
    <p class="font-field"> ชื่อผู้รักษา :&nbsp;&nbsp;&nbsp;{{ClaimData.doctorNameAdd}} </p>
    <p class="font-field"> ชื่อผู้ใส่ข้อมูล :&nbsp;&nbsp;&nbsp;{{ClaimData.dataOwnerAdd}} </p>
    <p class="font-field"> เบอร์โทรผู้ใส่ข้อมูล :&nbsp;&nbsp;&nbsp;{{ClaimData.dataOwnerPhoneAdd}} </p>

    <button mat-raised-button color="primary" class="font-field" routerLink="/OfficerHome">ยืนยัน</button>
  </mat-card>
</a></nav>
