@import "~@angular/material/prebuilt-themes/purple-green.css";

@font-face {
  font-family: kanitFont;
  src: url('https://fonts.googleapis.com/css?family=Kanit');
}
.font-field{font-size: 18px; font-family: 'Kanit', sans-serif; color: #123342; text-align: center;} /**หัวข้อ**/
.font-field-head{font-size: 20px; font-family: 'Kanit', sans-serif; color: #373737; text-align: center;} /**รายละเอียด**/

.example-form {
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  background-color: #CC000000;
  width: 600px;
}

nav a {
  padding: 40px 300px;
  text-decoration: none;
  display: inline-block;
  background-color: #CC000000; /**พื้นหลังสีใส**/
  border-radius: 2px;}
