<nav><a class="font-field">
  <mat-card class="example-form">

    <div align="center">
      <mat-card class="example-formX" >
        บันทึกสำเร็จ
      </mat-card>
	  </div>

    <p class="font-field-head"> โชว์ข้อมูล </p>
    <p class="font-field"> ID ผู้ใช้สิทธิ์ :&nbsp;&nbsp;&nbsp;{{ClaimData.memberDataS}} </p>
    <p class="font-field">  ชื่อโรค/อุบัติเหตุ :&nbsp;&nbsp;&nbsp;{{ClaimData.diseaseAccidentDataS}} </p>
    <p class="font-field"> ประกันที่ใช้ :&nbsp;&nbsp;&nbsp;{{ClaimData.categoryS}} </p>
    <p class="font-field"> โรงบาลที่รักษา :&nbsp;&nbsp;&nbsp;{{ClaimData.hospitalS}} </p>
    <p class="font-field"> รูปแบบการรักษา :&nbsp;&nbsp;&nbsp;{{ClaimData.treatmentStyleS}} </p>
    <p class="font-field"> ค่ารักษาพยาบาล :&nbsp;&nbsp;&nbsp;{{ClaimData.costA}} </p>

    <button mat-raised-button color="primary" routerLink="/ClaimDataUI">ยืนยัน</button>
  </mat-card>
</a></nav>
