
<nav><a class="font-field">
  <mat-list>
    <mat-list-item>
      <h2 class="font-field-head">ยกเลิกเหมาจ่ายประกันออนไลน์</h2>
    </mat-list-item>
    <mat-divider></mat-divider>
    <br>

    <mat-list-item >
      <mat-form-field class="example-full-width">
        <input matInput id = "CL1" placeholder="ID บริษัท" [(ngModel)]="Cancellumpsum.LUMPSUM_ID">
      </mat-form-field>&nbsp;&nbsp;
    </mat-list-item>


    <mat-list-item>
      <mat-form-field class="example-full-width">
        <mat-select class="font-field" placeholder="เลือกวิธีการมาติดต่อยกเลิก" [(ngModel)]="Cancellumpsum.CONTACT_ID"> <!-- แสดงค่าที่ได้หลังจากกดเลือก -->
          <mat-option class="font-field" *ngFor="let Contact of Contacts" [value]="Contact.id"> <!-- แสดงค่าที่มีจากฐานข้อมูล -->
            {{ Contact.iD }} : {{ Contact.contactName }}   <!-- ค่าที่เราต้องการให้แสดงเพื่อกดเลือก -->
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
    <br>

    <mat-list-item>
      <mat-form-field class="example-full-width">
        <input matInput id = "CL2"  placeholder="ความคิดเห็นของลูกค้า" [(ngModel)]="Cancellumpsum.comment">
      </mat-form-field>.
    </mat-list-item>
    <br>&nbsp;&nbsp;

    <mat-list-item>
      <mat-form-field class="example-full-width">
        <mat-select class="font-field" placeholder="เลือกจังหวัดสาขาที่ยกเลิก" [(ngModel)]="Cancellumpsum.PROVINCE_ID"> <!-- แสดงค่าที่ได้หลังจากกดเลือก -->
          <mat-option class="font-field" *ngFor="let Province of Provinces" [value]="Province.provinceName"> <!-- แสดงค่าที่มีจากฐานข้อมูล -->
            {{ Province.iD }} : {{ Province.provinceName }}   <!-- ค่าที่เราต้องการให้แสดงเพื่อกดเลือก -->
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field class="example-full-width">
        <input matInput  id = "CL3" placeholder="ชื่อลูกค้าที่ทำการยกเลิก" [(ngModel)]="Cancellumpsum.nameCan">
      </mat-form-field>.
    </mat-list-item>
    <br>&nbsp;&nbsp;

    <mat-list-item>
      <mat-form-field class="example-full-width">
        <input matInput  id = "CL4" placeholder="อายุ" [(ngModel)]="Cancellumpsum.ageCan">
      </mat-form-field>.
    </mat-list-item>
    <br>&nbsp;&nbsp;

    <mat-list-item>
      <mat-form-field class="example-full-width">
        <input matInput #input maxlength="13" placeholder="รหัสบัตรประชาชน" [(ngModel)]="Cancellumpsum.IDcardCan">
        <mat-hint align="end">{{input.value?.length || 0}}/13</mat-hint>
      </mat-form-field>
    </mat-list-item>
    <br>&nbsp;&nbsp;

    <mat-list-item>
      <mat-dialog-actions>
        <button mat-raised-button align = "left" class="font-field" color="warm" routerLink="/OfficerHome">ย้อนกลับ</button>&nbsp;&nbsp;
        <button mat-raised-button class="font-field" color="primary" (click)="save()" cdkFocusInitial >ยืนยัน</button>
      </mat-dialog-actions>
    </mat-list-item>
  </mat-list>
</a></nav><br>
<table mat-table [dataSource]="Lumpsums" class="example-full-width1">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="iD">
    <th mat-header-cell *matHeaderCellDef> ID บริษัท </th>
    <td  mat-cell *matCellDef="let Lumpsums"> {{ Lumpsums.iD }} </td>
  </ng-container>

  <ng-container matColumnDef="companyName">
    <th mat-header-cell *matHeaderCellDef> ชื่อบริษัท </th>
    <td  mat-cell *matCellDef="let Lumpsums"> {{ Lumpsums.companyName }} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> ที่อยู่บริษัท </th>
    <td  mat-cell *matCellDef="let Lumpsums"> {{ Lumpsums.address }} </td>
  </ng-container>

  <ng-container matColumnDef="provinceId">
    <th mat-header-cell *matHeaderCellDef> จังหวัด </th>
    <td  mat-cell *matCellDef="let Lumpsums"> {{ Lumpsums.provinceId.provinceName }} </td>
  </ng-container>

  <ng-container matColumnDef="zipCode">
    <th mat-header-cell *matHeaderCellDef>   รหัสไปรษณีย์    </th>
    <td  mat-cell *matCellDef="let Lumpsums"> {{ Lumpsums.zipCode }} </td>
  </ng-container>

  <ng-container matColumnDef="businessSizeId">
    <th mat-header-cell *matHeaderCellDef> ขนาดบริษัท </th>
    <td  mat-cell *matCellDef="let Lumpsums"> {{ Lumpsums.businessSizeId.sizeName }} </td>
  </ng-container>

  <ng-container matColumnDef="establishmentId">
    <th mat-header-cell *matHeaderCellDef> รูปแบบสถานประกอบการ </th>
    <td  mat-cell *matCellDef="let Lumpsums"> {{ Lumpsums.establishmentId.estabName }} </td>
  </ng-container>

  <ng-container matColumnDef="categoryId">
    <th mat-header-cell *matHeaderCellDef> ประเภทประกัน </th>
    <td  mat-cell *matCellDef="let Lumpsums"> {{ Lumpsums.categoryId.typeName }} </td>
  </ng-container>

  <ng-container matColumnDef="amoungEmp">
    <th mat-header-cell *matHeaderCellDef> จำนวนพนักงาน </th>
    <td  mat-cell *matCellDef="let Lumpsums"> {{ Lumpsums.amoungEmp }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

