<nav><a class="font-field">
  <mat-card class="example-form">
    <p class="font-field-head"> แสดงข้อมูลการยกเลิกประกัน </p>
    <p class="font-field-head"> ข้อมูลการลบของท่านจะถูกบันทึกไว้ ท่านจะไม่สามารถ Login ได้ </p>
    <p class="font-field"> แสดงรหัสประจำตัวประชาชน:&nbsp;&nbsp;&nbsp;{{cancelInsurances.idCard}} </p>
    <p class="font-field"> แสดงชื่อ:&nbsp;&nbsp;&nbsp;{{cancelInsurances.fName}} </p>
    <p class="font-field"> แสดงนามสกุล:&nbsp;&nbsp;&nbsp;{{cancelInsurances.lName}} </p>
    <p class="font-field"> แสดงอีเมลย์:&nbsp;&nbsp;&nbsp;{{cancelInsurances.eMail}} </p>
    <p class="font-field"> แสดงเบอร์โทร:&nbsp;&nbsp;&nbsp;{{cancelInsurances.tlePhone}} </p>
    <p class="font-field"> แสดงเหตุผลที่ยกเลิก:&nbsp;&nbsp;&nbsp;{{cancelInsurances.reasonMemberName}} </p>

    <button mat-raised-button color="primary" routerLink="/">ออก</button>
  </mat-card>
</a></nav>
