<mat-toolbar color="primary">
  <span>LoginOfficer</span>
</mat-toolbar>
<mat-card align="center">
  <form #userForm="ngForm">
    <mat-form-field>
      <input matInput (keyup.enter)="login()" type="text" name="userUsername" placeholder="username" [(ngModel)]="user.username">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput (keyup.enter)="login()" type="password" name="userPassword" placeholder="password" [(ngModel)]="user.password">
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="login()" >login</button>
</mat-card>
