<nav><a class="font-field">
  <mat-list>
    <mat-list-item>
      <h2 class="font-field-head">สมัครสมาชิกประกันชีวิต</h2>
    </mat-list-item>
    <mat-divider></mat-divider>
    <br>

    <mat-list-item>
      <mat-form-field class="font-field">
        <input matInput placeholder="ชื่อจริง" [(ngModel)]="Member.fName">
        <mat-hint align="end">ตัวอย่าง : นายหล่อ</mat-hint>
      </mat-form-field>&nbsp;&nbsp;

      <mat-form-field class="font-field">
        <input matInput placeholder="นามสกุล" [(ngModel)]="Member.lName">
        <mat-hint align="end">ตัวอย่าง : บ้านรวย</mat-hint>
      </mat-form-field>
    </mat-list-item>
    <br>

    <mat-list-item>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="หมายเลขบัตรประชาชน" [(ngModel)]="Member.PID">
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="อายุ" [(ngModel)]="Member.Olds">
      </mat-form-field>
    </mat-list-item>
	
	<mat-list-item>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="ที่อยู่" [(ngModel)]="Member.addes">
      </mat-form-field>
    </mat-list-item>
	

    <br>
    <mat-list-item>
      <mat-form-field class="example-full-width">
        <mat-select class="font-field" placeholder="เลือกจังหวัด" [(ngModel)]="Member.povin">
          <mat-option class="font-field" *ngFor="let Province of Provinces" [value]="Province.id">
            {{Province.provinceName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
    <br>
    <mat-list-item>
      <mat-form-field class="example-full-width">
        <mat-select class="font-field" placeholder="เลือกรูปแบบประกัน" [(ngModel)]="Member.typeName"> <!-- แสดงค่าที่ได้หลังจากกดเลือก -->
          <mat-option class="font-field" *ngFor="let Category of Categories" [value]="Category.id"> <!-- แสดงค่าที่มีจากฐานข้อมูล -->
            {{ Category.id }} : {{ Category.typeName }}   <!-- ค่าที่เราต้องการให้แสดงเพื่อกดเลือก -->
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field class="example-full-width">
        <mat-select class="font-field" placeholder="เลือกตัวแทน" [(ngModel)]="Member.agnt"> <!-- แสดงค่าที่ได้หลังจากกดเลือก -->
          <mat-option class="font-field" *ngFor="let AgentRegistration of Agent" [value]="AgentRegistration.id"> <!-- แสดงค่าที่มีจากฐานข้อมูล -->
            {{ AgentRegistration.id }} : {{ AgentRegistration.fname}}   <!-- ค่าที่เราต้องการให้แสดงเพื่อกดเลือก -->
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>

    <br>
    <mat-list-item>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="username" [(ngModel)]="Member.username">
      </mat-form-field>
    </mat-list-item>
    <br>
    <mat-list-item>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="password" [(ngModel)]="Member.password">
      </mat-form-field>
    </mat-list-item>
    <br>
    <mat-list-item >
      <mat-dialog-actions>
        <button mat-raised-button class="font-field" color="warm" routerLink="/">ย้อนกลับ</button>&nbsp;&nbsp;
        <button mat-raised-button class="font-field" color="primary" (click)="save()" cdkFocusInitial>ยืนยัน</button>
      </mat-dialog-actions>
    </mat-list-item>
  </mat-list>
</a></nav>

