<nav><a class="example-full-width">
  <mat-list>
    <mat-list-item>
      <h2 class="font-field-head">เพิ่มประเภทประกันชีวิต</h2>
    </mat-list-item>
    <br>
    <mat-list-item>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="กรอกประเภทประกัน" [(ngModel)]="categorys.typeName">
          <mat-hint align="end">ex. ประกันผู้สูงอายุ</mat-hint>
        </mat-form-field>&nbsp;&nbsp;
    </mat-list-item>
    <br>
    <mat-list-item>
    <mat-form-field class="example-full-width">
      <mat-select class="font-field" placeholder="เลือกเบี้ยประกัน"[(ngModel)]="categorys.insuranceName">
        <mat-option class="font-field" *ngFor="let InsurancePremium of insurancePremiums" [value]="InsurancePremium.id">
          {{InsurancePremium.insuranceName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </mat-list-item>
    <br>
    <mat-list-item>
      <mat-form-field class="example-full-width">
        <mat-select class="font-field" placeholder="เลือกระยะเวลาคุ้มครอง"[(ngModel)]="categorys.lengthName">
          <mat-option class="font-field" *ngFor="let Length of lengths" [value]="Length.id">
            {{Length.lengthName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </mat-list-item>
    <br>
    <mat-list-item>
    <mat-form-field class="example-full-width">
      <mat-select class="font-field" placeholder="เลือกเงินชดเชยสูงสุด"[(ngModel)]="categorys.moneyName">
        <mat-option class="font-field" *ngFor="let MoneyMaximum of moneyMaximums" [value]="MoneyMaximum.id">
          {{MoneyMaximum.moneyName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </mat-list-item>
    <br>
    <button mat-raised-button align = "left" class="font-field" color="warm" routerLink="/OfficerHome">ย้อนกลับ</button> &nbsp;&nbsp;
    <button mat-raised-button align = "left" class="font-field" color="primary" (click)="save()" cdkFocusInitial>บันทึก</button>
  </mat-list>
</a></nav>

