@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
nav a {
  padding: 50px 50px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  background-color: #c5d0e2;
  border-radius: 4px;
}
table {
  width: 100%;
}
example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
